/* ==UserStyle==
@name           crates-io-dark
@namespace      JonathanHelianthicusDoe
@version        0.4.0
@description    Dark theme for crates.io
@license        CC-BY-SA-4.0
@author         Dr. Jonathan Helianthicus Doe, IV
@homepageURL    https://github.com/JonathanHelianthicusDoe/crates-io-dark
@updateURL      https://github.com/JonathanHelianthicusDoe/crates-io-dark/raw/master/crates-io-dark.user.css
==/UserStyle== */
@-moz-document domain("crates.io") {
    html {
        background-color: #222;
    }

    #header input.search,
    #mobile-search input.search {
        background-color: #111 !important;
        color: #eee !important;
    }

    input[class^='_search_'],
    input[class*=' _search_'] {
        background-color: #111 !important;
        color: #eee !important;
    }

    #p404 input,
    .p404 input {
        background-color: #222 !important;
        color: #eee !important;
        border-color: #666;
    }

    main {
        box-shadow: none !important;
        border: none !important;
        background-color: #111 !important;
        color: #eee !important;
    }

    div[class^='_title-header'],
    div[class*=' _title-header'] {
        border-bottom: 5px solid #666 !important;
    }

    div[class^='_stats_'],
    div[class*=' _stats_'],
    div[class^='_stat_'],
    div[class*=' _stat_'] {
        border-left: 1px solid #666 !important;
    }

    div[class^='_crate-downloads_'] div[class^='_stats_'],
    div[class^='_crate-downloads_'] div[class*=' _stats_'],
    div[class*=' _crate-downloads_'] div[class^='_stats_'],
    div[class*=' _crate-downloads_'] div[class*=' _stats_'] {
        border-left: none !important;
    }

    .crate-lists li a {
        background-color: #222 !important;
        color: #eee !important;
    }
    .crate-lists li a:hover {
        background-color: #333 !important;
    }

    .arrow-in-list svg {
        background: #111;
    }

    .yellow-button {
        background: linear-gradient(to bottom, #333 0, #222 100%);
        color: #eee;
    }

    .yellow-button:hover {
        background: linear-gradient(to bottom, #282828 0, #171717 100%);
    }

    .crate-search {
        background-color: #111 !important;
        color: #eee !important;
    }

    .crate-search svg {
        filter: invert(100%);
    }

    .cur,
    .total {
        color: #fff !important;
    }

    #results a.dropdown {
        background-color: #222 !important;
        color: #eee !important;
    }

    #results .dropdown-button {
        background-color: #222 !important;
        color: #eee !important;
    }

    span.small {
        color: #bbb !important;
    }

    ul.dropdown {
        border: 1px solid #666;
        background-color: #222;
        color: #eee !important;
    }

    ul.dropdown li a {
        color: #eee !important
    }

    #crates,
    .white-rows {
        background-color: #111 !important;
        color: #eee !important;
    }

    .white-rows .row {
        border-bottom: 2px solid #666;
    }

    #crates svg,
    .white-rows svg {
        filter: invert(100%);
    }

    div[class^='_crate-toml-copy_'] button,
    div[class*=' _crate-toml-copy_'] button,
    div[class^='_crate-toml-copy_'] button:active,
    div[class*=' _crate-toml-copy_'] button:active {
        background-color: inherit !important;
        color: #eee !important;
    }

    .crate .info a {
        color: #fff !important;
    }

    .crate .stats {
        color: #bbb;
    }

    .pagination svg {
        filter: invert(100%);
    }

    .pagination svg:hover {
        filter: invert(100%)
                drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.1875));
    }

    .pagination a {
        background-color: #111 !important;
    }

    .pagination a:hover {
        font-weight: bolder;
    }

    nav[class^='_pagination_'] a,
    nav[class*=' _pagination_'] a {
        background-color: inherit !important;
        color: #bbb !important;
    }

    nav[class^='_pagination_'] a.active,
    nav[class*=' _pagination_'] a.active,
    nav[class^='_pagination_'] a:hover,
    nav[class*=' _pagination_'] a:hover {
        font-weight: bolder;
        background-color: inherit !important;
    }

    nav[class^='_pagination_'] a.active,
    nav[class*=' _pagination_'] a.active {
        text-shadow: #eee 1px 0 10px;
    }

    nav[class^='_pagination_'] a:hover,
    nav[class*=' _pagination_'] a:hover {
        color: #007940 !important;
    }

    nav[class^='_pagination_'] svg:hover,
    nav[class*=' _pagination_'] svg:hover,
    nav[class^='_pagination_'] img:hover,
    nav[class*=' _pagination_'] img:hover {
        filter: invert(100%) drop-shadow(0 0 5px #eee);
    }

    .fork-me {
        display: none;
    }

    .sep {
        color: #666 !important;
    }

    #crates > div {
        border-bottom: 0.25rem solid #666;
    }

    section[class^='_crate-readme_'] p code,
    section[class*=' _crate-readme_'] p code {
        background-color: #222;
        border-radius: 4px;
    }

    .crate-info .install {
        background-color: #222 !important;
        color: #eee !important;
    }

    .crate-info .install svg {
        filter: invert(100%);
    }

    div[class^='_install_'],
    div[class*=' _install_'] {
        background-color: #222 !important;
    }

    div[class^='_install_'] code,
    div[class*=' _install_'] code {
        background-color: #111 !important;
    }

    div[class^='_install_'] svg,
    div[class*=' _install_'] svg {
        filter: invert(100%);
    }

    .crates-heading {
        background-color: #222;
    }

    .crates-heading svg {
        filter: invert(100%);
    }

    #crate-links,
    #me-profile,
    #me-email,
    #me-email-notifications,
    #title-header,
    .crate-info {
        border-bottom: 0.25rem solid #666;
    }

    #blurb #stats {
        border-left: 1px solid #666;
    }

    nav svg {
        filter: invert(100%);
    }

    div[class^='_graph-data'],
    div[class*=' _graph-data'] {
        color: #eee !important;
    }

    div[class^='_graph-data'] svg,
    div[class*=' _graph-data'] svg {
        filter: invert(100%);
    }

    #me-email-notifications ul li,
    #me-email-notifications ul label::before,
    #me-profile dl .row,
    #tokens,
    #tokens .create-token {
        background-color: inherit;
    }

    #flash {
        background-color: #664545;
    }

    #selection {
        background-color: #222;
    }

    #selection a:hover,
    #selection a.active {
        background-color: #333;
    }
}
